nav {
    background-color: lightblue;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 50px;

}

nav ul li{ 
    display:inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;

}

nav ul {
    text-align: right;
}

.RegForm {
/* display: flex; 
 justify-content: center; */
 text-align: center;
} 
.FormSize {

text-align: left;
display: inline-block;
}

.FormLegend{
text-align: center;

}

#Submitdiv {
text-align: center;


}
#Submitbtn {
    text-align: center;
    width:60%;
    background-color: blue;
}
